@{
    ViewBag.Title = "Sobre";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>
    <p>Este aplicativo foi desenvolvido com objetivo de atender uma demanda social, 
        <br />buscando conectar pequenos produtores rurais a seus potenciais clientes.</p>

</div>

