@{
    ViewBag.Title = "Contato";
}
<div class="container">
<h2>@ViewBag.Title.</h2>
<address>
    Pequeno Produtor<br />
    Presidente Prudente - SP<br />
    <abbr title="Phone">T:</abbr>
    (18) 9 9999-9999
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Devs:</strong> <a href="mailto:Marketing@example.com">Devs@example.com</a>
</address>
</div>
